﻿
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
@model WebApplication1.Controllers.MqEventCreateDto;
<body>

    <form class="form-horizontal" method="post" asp-controller="RabbitMq" asp-action="PushDisbursementOrder" id="form1" autocomplete="true" target="iframe">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">MQ訂單測試</h3>
                    </div>
                    <div class="box-body">
                        
                        <div class="form-group">
                            <label for="DisbursementOrderId" class="col-sm-3 control-label">MQ服務IP</label>
                            <div class="col-sm-5">
                                <input asp-for="MQIP" class="form-control" placeholder="192.168.50.121" value="" />
                                <span asp-validation-for="MQIP" class="text-danger field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DisbursementOrderId" class="col-sm-3 control-label">訂單ID</label>
                            <div class="col-sm-5">
                                <input asp-for="DisbursementOrderId" class="form-control" placeholder="DisbursementOrderId" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="MerchantId" class="col-sm-3 control-label">商户ID</label>
                            <div class="col-sm-5">
                                <input asp-for="MerchantId" class="form-control" placeholder="MerchantId" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Type" class="col-sm-3 control-label">MQ提交方式</label>
                            <div class="col-sm-5">
                                <select asp-for="Type" class="form-control"><option value ="0">建立代付訂單</option><option value="1">查詢訂單</option></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button id="createOrder" type="button" class="btn btn-success">提交</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">API回應</label>
                        <div class="col-sm-10">
                            <input id="apiResponse" class="form-control" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <iframe id="iframe" name="iframe" style="display: none;"></iframe>

</body>
</html>
@section Scripts
{
    <script>
        $('#createOrder').click(function () {
            var $form = $("#form1");
            $.ajax({
                type: "POST",
                url: $form.attr('action'),
                data: $form.serialize(),
                success: function (response) {
                    $('#apiResponse').val(response);

                }
            });
        })

    </script>
}