﻿
@model CrawlerData;

@{

}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }
</style>
<html>
<head>
    <title>title</title>
</head>
<body>
    <div style="width: 100%">

        <div style="width: 100%; height: auto; float: left; display: inline">

            <table>
                @if (Model.crawIot != null)
                {
                    <thead>

                        <tr style="background-color: coral">
                            <th colspan="1">@Model.crawIot.s.n</th>
                            <th colspan="1">滾球</th>
                            <th colspan="2">獨贏盤</th>
                            <th colspan="2">讓球</th>
                            <th colspan="2">大/小</th>
                            <th colspan="2">獨贏盤</th>
                            <th colspan="2">讓球</th>
                            <th colspan="2">大/小</th>
                        </tr>
                        <tr style="background-color: cadetblue">
                            <th colspan="2"></th>
                            <th colspan="6">全場</th>
                            <th colspan="6">上半場</th>
                        </tr>
                    </thead>

                    if (Model.crawIot.egs != null)
                    {
                        foreach (var crawData in Model.crawIot.egs)
                        {
                            <tbody>
                                <tr style="background-color: coral"><th colspan="15">@crawData.c.n</th></tr>
                                @foreach (var es in crawData.es)
                                {

                                    if (es.o.ah != null)
                                    {

                                        var i = 1;

                                        for (int j = 1; j < es.o.ah.Count / 8 + 1; j++)
                                        {
                                            var scr = $"{es.i[10]}:{es.i[11]}";
                                            var color = j % 2 == 0 ? "white" : "#d3d8dc";
                                            //獨贏(主)
                                            var x12o = j == 1 ? es.o.x12?[1] : null;
                                            var IDx12o = j == 1 ? es.o.x12?[0] : null;
                                            //讓球(主讓分)
                                            var ahop = es.o.ah?[i];
                                            var IDahop = es.o.ah?[i - 1];
                                            //讓球(主賠率)
                                            var ahoo = es.o.ah?[i + 4];
                                            var IDahoo = es.o.ah?[i + 4 - 1];
                                            //大小(主分)
                                            var ouop = "es.o.ou?[i]";
                                            var IDouop = "es.o.ou?[i-1]";
                                            //大小(主賠率)
                                            var ouoo = "es.o.ou?[i + 4]";
                                            var IDouoo = "es.o.ou?[i + 4 - 1]";

                                            //獨贏(上/主)
                                            var x121sto = j == 1 ? es.o.x121st?[1] : null;
                                            var IDx121sto = j == 1 ? es.o.x121st?[0] : null;
                                            //讓球(上/主讓分)
                                            var ah1stop = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i] : null;
                                            var IDah1stop = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i - 1] : null;
                                            //讓球(上/主賠率)
                                            var ah1stoo = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 4] : null;
                                            var IDah1stoo = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 4 - 1] : null;
                                            //大小(上/主分)
                                            var ou1stop = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i] : null;
                                            var IDou1stop = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i - 1] : null;
                                            //大小(上/主賠率)
                                            var ou1stoo = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 4] : null;
                                            var IDou1stoo = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 4 - 1] : null;

                                            /*---------------------------------*/

                                            //獨贏(客)
                                            var x12c = j == 1 ? es.o.x12?[3] : null;
                                            var IDx12c = j == 1 ? es.o.x12?[2] : null;
                                            //讓球(客讓分)
                                            var ahcp = es.o.ah?[i + 2];
                                            var IDahcp = es.o.ah?[i + 2 - 1];
                                            //讓球(客賠率)
                                            var ahco = es.o.ah?[i + 6];
                                            var IDahco = es.o.ah?[i + 6 - 1];
                                            //大小(客分)
                                            var oucp = es.o.ou?[i + 2];
                                            var IDoucp = es.o.ou?[i + 2 - 1];
                                            //大小(客賠率)
                                            var ouco = es.o.ou?[i + 6];
                                            var IDouco = es.o.ou?[i + 6 - 1];

                                            //獨贏(上/客)
                                            var x121stc = j == 1 ? es.o.x121st?[3] : null;
                                            var IDx121stc = j == 1 ? es.o.x121st?[3 - 1] : null;
                                            //讓球(上/客讓分)
                                            var ah1stcp = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 2] : null;
                                            var IDah1stcp = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 2 - 1] : null;
                                            //讓球(上/客賠率)
                                            var ah1stco = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 6] : null;
                                            var IDah1stco = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 6 - 1] : null;
                                            //大小(上/客分)
                                            var ou1stcp = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 2] : null;
                                            var IDou1stcp = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 2 - 1] : null;
                                            //大小(上/客賠率)
                                            var ou1stco = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 6] : null;
                                            var IDou1stco = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 6 - 1] : null;
                                            <tr style="background-color: @color" scr="@scr" eid="@es.k" iip="true">
                                                <td></td>
                                                <td>@es.i[0]</td>
                                                <td></td>
                                                <td><a class="placebet" slid="@IDx12o">@x12o</a></td>
                                                <td><a class="placebet" slid="@IDahop">@ahop</a></td>
                                                <td><a class="placebet" slid="@IDahoo">@ahoo</a></td>
                                                <td><a class="placebet" slid="@IDouop">@ouop</a></td>
                                                <td><a class="placebet" slid="@IDouoo">@ouoo</a></td>
                                                <td></td>
                                                <td><a class="placebet" slid="@IDx121sto">@x121sto</a></td>
                                                <td><a class="placebet" slid="@IDah1stop">@ah1stop</a></td>
                                                <td><a class="placebet" slid="@IDah1stoo">@ah1stoo</a></td>
                                                <td><a class="placebet" slid="@IDou1stop">@ou1stop</a></td>
                                                <td><a class="placebet" slid="@IDou1stoo">@ou1stoo</a></td>
                                            </tr>
                                            <tr style="background-color: @color" scr="@scr" eid="@es.k" iip="true">
                                                <td> 下半場 </td>
                                                <td>@es.i[1]</td>
                                                <td></td>
                                                <td><a class="placebet" slid="@IDx12c">@x12c</a></td>
                                                <td><a class="placebet" slid="@IDahcp">@ahcp</a></td>
                                                <td><a class="placebet" slid="@IDahco">@ahco</a></td>
                                                <td><a class="placebet" slid="@IDoucp">@oucp</a></td>
                                                <td><a class="placebet" slid="@IDouco">@ouco</a></td>
                                                <td></td>
                                                <td><a class="placebet" slid="@IDx121stc">@x121stc</a></td>
                                                <td><a class="placebet" slid="@IDah1stcp">@ah1stcp</a></td>
                                                <td><a class="placebet" slid="@IDah1stco">@ah1stco</a></td>
                                                <td><a class="placebet" slid="@IDou1stcp">@ou1stcp</a></td>
                                                <td><a class="placebet" slid="@IDou1stco">@ou1stco</a></td>
                                            </tr>
                                            if (i == 1)
                                            {
                                                <tr style="background-color: @color" scr="@scr" eid="@es.k" iip="true">
                                                    <td> 進行時間 </td>
                                                    <td>@("和局")</td>
                                                    <td><a class="btn btn-success btn-xs amodds" data-toggle="modal" data-target="#CreateDialog" data-id="@es.k" data-online="true">更多</a></td>
                                                    <td><a class="placebet" slid="@es.o.x12?[5 -1]">@(es.o.x12?[5])</a></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                            }

                                            i += 8;
                                        }
                                    }
                                }

                            </tbody>

                        }
                    }
                }

                @if (Model.crawNot != null)
                {
                    <thead>
                        <tr style="background-color: aquamarine">
                            <th colspan="1">@Model.crawNot.s.n</th>
                            <th colspan="1">今日</th>
                            <th colspan="2">獨贏盤</th>
                            <th colspan="2">讓球</th>
                            <th colspan="2">大/小</th>
                            <th colspan="2">獨贏盤</th>
                            <th colspan="2">讓球</th>
                            <th colspan="2">大/小</th>
                        </tr>
                        <tr style="background-color: cadetblue ">
                            <th colspan="2"></th>
                            <th colspan="6">全場</th>
                            <th colspan="6">上半場</th>
                        </tr>
                    </thead>
                    if (Model.crawNot.egs != null)
                    {
                        foreach (var crawData in Model.crawNot.egs)
                        {
                            <tbody>
                                <tr style="background-color: aquamarine"><th colspan="15">@crawData.c.n</th></tr>
                                @foreach (var es in crawData.es)
                                {

                                    if (es.o.ah != null)
                                    {
                                        var i = 1;

                                        @*for (int j = 1; j < es.o.ah.Count / 8 + 1; j++)
                                            {

                                                var color = j % 2 == 0 ? "white" : "#d3d8dc";
                                                //獨贏(主)
                                                var x12o = j == 1 ? es.o.x12?[1] : null;
                                                //讓球(主讓分)
                                                var ahop = es.o.ah?[i];
                                                //讓球(主賠率)
                                                var ahoo = es.o.ah?[i + 4];
                                                //大小(主分)
                                                var ouop = es.o.ou?[i];
                                                //大小(主賠率)
                                                var ouoo = es.o.ou?[i + 4];

                                                //獨贏(上/主)
                                                var x121sto = j == 1 ? es.o.x121st?[1] : null;
                                                //讓球(上/主讓分)
                                                var ah1stop = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i] : null;
                                                //讓球(上/主賠率)
                                                var ah1stoo = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 4] : null;
                                                //大小(上/主分)
                                                var ou1stop = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i] : null;
                                                //大小(上/主賠率)
                                                var ou1stoo = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 4] : null;

                                                /*---------------------------------*/

                                                //獨贏(客)
                                                var x12c = j == 1 ? es.o.x12?[3] : null;
                                                //讓球(客讓分)
                                                var ahcp = es.o.ah?[i + 2];
                                                //讓球(客賠率)
                                                var ahco = es.o.ah?[i + 6];
                                                //大小(客分)
                                                var oucp = es.o.ou?[i + 2];
                                                //大小(客賠率)
                                                var ouco = es.o.ou?[i + 6];

                                                //獨贏(上/客)
                                                var x121stc = j == 1 ? es.o.x121st?[3] : null;
                                                //讓球(上/客讓分)
                                                var ah1stcp = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 2] : null;
                                                //讓球(上/客賠率)
                                                var ah1stco = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 6] : null;
                                                //大小(上/客分)
                                                var ou1stcp = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 2] : null;
                                                //大小(上/客賠率)
                                                var ou1stco = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 6] : null;
                                                <tr style="background-color: @color">
                                                    <td></td>
                                                    <td>@es.i[0]</td>
                                                    <td></td>
                                                    <td>@x12o</td>
                                                    <td>@ahop</td>
                                                    <td>@ahoo</td>
                                                    <td>@ouop</td>
                                                    <td>@ouoo</td>
                                                    <td></td>
                                                    <td>@x121sto</td>
                                                    <td>@ah1stop</td>
                                                    <td>@ah1stoo</td>
                                                    <td>@ou1stop</td>
                                                    <td>@ou1stoo</td>
                                                </tr>
                                                <tr style="background-color: @color">
                                                    <td> 下半場 </td>
                                                    <td>@es.i[1]</td>
                                                    <td></td>
                                                    <td>@x12c</td>
                                                    <td>@ahcp</td>
                                                    <td>@ahco</td>
                                                    <td>@oucp</td>
                                                    <td>@ouco</td>
                                                    <td></td>
                                                    <td>@x121stc</td>
                                                    <td>@ah1stcp</td>
                                                    <td>@ah1stco</td>
                                                    <td>@ou1stcp</td>
                                                    <td>@ou1stco</td>
                                                </tr>

                                                if (i == 1)
                                                {

                                                    <tr style="background-color: @color">
                                                        <td> 進行時間 </td>
                                                        <td>@("和局")</td>
                                                        <td><a class="btn btn-success btn-xs amodds" data-toggle="modal" data-target="#CreateDialog" data-id="@es.k" data-online="false">更多</a></td>
                                                        <td>@(es.o.x12?[5])</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                }

                                                i += 8;
                                            }*@



                                        for (int j = 1; j < es.o.ah.Count / 8 + 1; j++)
                                        {
                                            var scr = $"{es.i[10]}:{es.i[11]}";
                                            var color = j % 2 == 0 ? "white" : "#d3d8dc";
                                            //獨贏(主)
                                            var x12o = j == 1 ? es.o.x12?[1] : null;
                                            var IDx12o = j == 1 ? es.o.x12?[0] : null;
                                            //讓球(主讓分)
                                            var ahop = es.o.ah?[i];
                                            var IDahop = es.o.ah?[i - 1];
                                            //讓球(主賠率)
                                            var ahoo = es.o.ah?[i + 4];
                                            var IDahoo = es.o.ah?[i + 4 - 1];
                                            //大小(主分)
                                            var ouop = "es.o.ou?[i]";
                                            var IDouop = "es.o.ou?[i-1]";
                                            //大小(主賠率)
                                            var ouoo = es.o.ou?[i + 4];
                                            var IDouoo = es.o.ou?[i + 4 - 1];

                                            //獨贏(上/主)
                                            var x121sto = j == 1 ? es.o.x121st?[1] : null;
                                            var IDx121sto = j == 1 ? es.o.x121st?[0] : null;
                                            //讓球(上/主讓分)
                                            var ah1stop = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i] : null;
                                            var IDah1stop = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i - 1] : null;
                                            //讓球(上/主賠率)
                                            var ah1stoo = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 4] : null;
                                            var IDah1stoo = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 4 - 1] : null;
                                            //大小(上/主分)
                                            var ou1stop = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i] : null;
                                            var IDou1stop = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i - 1] : null;
                                            //大小(上/主賠率)
                                            var ou1stoo = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 4] : null;
                                            var IDou1stoo = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 4 - 1] : null;

                                            /*---------------------------------*/

                                            //獨贏(客)
                                            var x12c = j == 1 ? es.o.x12?[3] : null;
                                            var IDx12c = j == 1 ? es.o.x12?[2] : null;
                                            //讓球(客讓分)
                                            var ahcp = es.o.ah?[i + 2];
                                            var IDahcp = es.o.ah?[i + 2 - 1];
                                            //讓球(客賠率)
                                            var ahco = es.o.ah?[i + 6];
                                            var IDahco = es.o.ah?[i + 6 - 1];
                                            //大小(客分)
                                            var oucp = es.o.ou?[i + 2];
                                            var IDoucp = es.o.ou?[i + 2 - 1];
                                            //大小(客賠率)
                                            var ouco = es.o.ou?[i + 6];
                                            var IDouco = es.o.ou?[i + 6 - 1];

                                            //獨贏(上/客)
                                            var x121stc = j == 1 ? es.o.x121st?[3] : null;
                                            var IDx121stc = j == 1 ? es.o.x121st?[3 - 1] : null;
                                            //讓球(上/客讓分)
                                            var ah1stcp = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 2] : null;
                                            var IDah1stcp = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 2 - 1] : null;
                                            //讓球(上/客賠率)
                                            var ah1stco = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 6] : null;
                                            var IDah1stco = es.o.ah1st != null && es.o.ah1st.Count >= i ? es.o.ah1st?[i + 6 - 1] : null;
                                            //大小(上/客分)
                                            var ou1stcp = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 2] : null;
                                            var IDou1stcp = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 2 - 1] : null;
                                            //大小(上/客賠率)
                                            var ou1stco = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 6] : null;
                                            var IDou1stco = es.o.ou1st != null && es.o.ou1st.Count >= i ? es.o.ou1st?[i + 6 - 1] : null;
                                            <tr style="background-color: @color" scr="@scr" eid="@es.k" iip="false">
                                                <td></td>
                                                <td>@es.i[0]</td>
                                                <td></td>
                                                <td><a class="placebet" slid="@IDx12o">@x12o</a></td>
                                                <td><a class="placebet" slid="@IDahop">@ahop</a></td>
                                                <td><a class="placebet" slid="@IDahoo">@ahoo</a></td>
                                                <td><a class="placebet" slid="@IDouop">@ouop</a></td>
                                                <td><a class="placebet" slid="@IDouoo">@ouoo</a></td>
                                                <td></td>
                                                <td><a class="placebet" slid="@IDx121sto">@x121sto</a></td>
                                                <td><a class="placebet" slid="@IDah1stop">@ah1stop</a></td>
                                                <td><a class="placebet" slid="@IDah1stoo">@ah1stoo</a></td>
                                                <td><a class="placebet" slid="@IDou1stop">@ou1stop</a></td>
                                                <td><a class="placebet" slid="@IDou1stoo">@ou1stoo</a></td>
                                            </tr>
                                            <tr style="background-color: @color" scr="@scr" eid="@es.k" iip="false">
                                                <td> 下半場 </td>
                                                <td>@es.i[1]</td>
                                                <td></td>
                                                <td><a class="placebet" slid="@IDx12c">@x12c</a></td>
                                                <td><a class="placebet" slid="@IDahcp">@ahcp</a></td>
                                                <td><a class="placebet" slid="@IDahco">@ahco</a></td>
                                                <td><a class="placebet" slid="@IDoucp">@oucp</a></td>
                                                <td><a class="placebet" slid="@IDouco">@ouco</a></td>
                                                <td></td>
                                                <td><a class="placebet" slid="@IDx121stc">@x121stc</a></td>
                                                <td><a class="placebet" slid="@IDah1stcp">@ah1stcp</a></td>
                                                <td><a class="placebet" slid="@IDah1stco">@ah1stco</a></td>
                                                <td><a class="placebet" slid="@IDou1stcp">@ou1stcp</a></td>
                                                <td><a class="placebet" slid="@IDou1stco">@ou1stco</a></td>
                                            </tr>
                                            if (i == 1)
                                            {
                                                <tr style="background-color: @color" scr="@scr" eid="@es.k" iip="false">
                                                    <td> 進行時間 </td>
                                                    <td>@("和局")</td>
                                                    <td><a class="btn btn-success btn-xs amodds" data-toggle="modal" data-target="#CreateDialog" data-id="@es.k" data-online="true">更多</a></td>
                                                    <td><a class="placebet" slid="@es.o.x12?[5 -1]">@(es.o.x12?[5])</a></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                            }

                                            i += 8;
                                        }
                                    }
                                }

                            </tbody>

                        }
                    }
                }
            </table>

        </div>
    </div>

    <div class="modal fade" id="CreateDialog">
        <div class="modal-dialog" style="width:60%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <div class="form-horizontal">
                                                    <div id="dialog-content">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <form class="form-horizontal" method="post" asp-controller="Bug" asp-action="AmOddView" id="MyForm" autocomplete="true" target="iframe">
        <input id="eId" type="hidden" name="id" value="" />
        <input id="eIsOnline" type="hidden" name="isOnline" value="" />
    </form>
    <form class="form-horizontal" method="post" asp-controller="Bug" asp-action="PlaceBet" id="PlaceBet" autocomplete="true" target="iframe">
        <input id="slid" type="hidden" name="slid" value="" />
        <input id="eid" type="hidden" name="eid" value="" />
        <input id="ods" type="hidden" name="ods" value="" />
        <input id="scr" type="hidden" name="scr" value="" />
        <input id="iip" type="hidden" name="iip" value="" />
    </form>
</body>

</html>

@section Scripts{
    <script>

        $(function () {

            $(".amodds").click(function () {
                var id = $(this).data("id");
                var isOnline = $(this).data("online");
                $("#eId").val(id);
                $("#eIsOnline").val(isOnline);
                $('#MyForm').submit();


            });
            $('#MyForm').submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (xhr) {
                        $('#dialog-content').html(xhr);
                    }
                });
                return false;
            });
        });

        $(".placebet").click(function () {

            var slid = $(this).attr("slid");
            var eid = $(this).parent().parent().attr("eid");
            var scr = $(this).parent().parent().attr("scr");
            var iip = $(this).parent().parent().attr("iip");
            var ods = $(this).text();
            $("#slid").val(slid);
            $("#eid").val(eid);
            $("#scr").val(scr);
            $("#ods").val(ods);
            $("#iip").val(iip);
            $('#PlaceBet').submit();
        });


    </script>
}