﻿
@using System.Threading
@model CrawlerAmOddsOnlineData

@functions {
    public class ScoData
    {
        public string Id { get; set; }
        public string Key { get; set; }
        public string Name { get; set; }
        public string Odds { get; set; }
        public string Mark { get; set; }
    }
}
<style>
    .odds {
        border: 1px solid #e4e4e4;
    }
</style>
<div>
    <table>
        @{
            foreach (var crawData in Model.eg.es)
            {
                if (crawData.o.ah != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="@(crawData.o.ah.v.Count/8+1)">@crawData.o.ah.n</th></tr>
                        <tr>
                            <td><span>@crawData.i[0]</span></td>
                            @for (int i = 0; i < crawData.o.ah.v.Count / 8; i++)
                            {
                                <td><span>@crawData.o.ah.v[i * 8 + 1]</span><span class="odds">@crawData.o.ah.v[i * 8 + 5]</span></td>
                            }

                        </tr>
                        <tr>
                            <td><span>@crawData.i[1]</span></td>
                            @for (int i = 0; i < crawData.o.ah.v.Count / 8; i++)
                            {
                                <td><span>@crawData.o.ah.v[i * 8 + 3]</span><span class="odds">@crawData.o.ah.v[i * 8 + 7]</span></td>
                            }
                        </tr>
                    </tbody>
                }
                if (crawData.o.ah1st != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="@(crawData.o.ah1st.v.Count/8+1)">@crawData.o.ah1st.n</th></tr>
                        <tr>
                            <td><span>@crawData.i[0]</span></td>
                            @for (int i = 0; i < crawData.o.ah1st.v.Count / 8; i++)
                            {
                                <td><span>@crawData.o.ah1st.v[i * 8 + 1]</span><span class="odds">@crawData.o.ah1st.v[i * 8 + 5]</span></td>
                            }

                        </tr>
                        <tr>
                            <td><span>@crawData.i[1]</span></td>
                            @for (int i = 0; i < crawData.o.ah1st.v.Count / 8; i++)
                            {
                                <td><span>@crawData.o.ah1st.v[i * 8 + 3]</span><span class="odds">@crawData.o.ah1st.v[i * 8 + 7]</span></td>
                            }
                        </tr>
                    </tbody>
                }


                if (crawData.o.ou != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="@(crawData.o.ou.v.Count/8+1)">@crawData.o.ou.n</th></tr>
                        <tr>
                            <td><span>大</span></td>
                            @for (int i = 0; i < crawData.o.ou.v.Count / 8; i++)
                            {
                                <td><span>@crawData.o.ou.v[i * 8 + 1]</span><span class="odds">@crawData.o.ou.v[i * 8 + 5]</span></td>
                            }

                        </tr>
                        <tr>
                            <td><span>小</span></td>
                            @for (int i = 0; i < crawData.o.ou.v.Count / 8; i++)
                            {
                                <td><span>@crawData.o.ou.v[i * 8 + 3]</span><span class="odds">@crawData.o.ou.v[i * 8 + 7]</span></td>
                            }
                        </tr>
                    </tbody>
                }
                if (crawData.o.ou1st != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="@(crawData.o.ou1st.v.Count/8+1)">@crawData.o.ou1st.n</th></tr>
                        <tr>
                            <td><span>大</span></td>
                            @for (int i = 0; i < crawData.o.ou1st.v.Count / 8; i++)
                            {
                                <td><span>@crawData.o.ou1st.v[i * 8 + 1]</span><span class="odds">@crawData.o.ou1st.v[i * 8 + 5]</span></td>
                            }

                        </tr>
                        <tr>
                            <td><span>小</span></td>
                            @for (int i = 0; i < crawData.o.ou1st.v.Count / 8; i++)
                            {
                                <td><span>@crawData.o.ou1st.v[i * 8 + 3]</span><span class="odds">@crawData.o.ou1st.v[i * 8 + 7]</span></td>
                            }
                        </tr>
                    </tbody>
                }

                if (crawData.o.x12 != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="@(crawData.o.x12.v.Count/6*3)">@crawData.o.x12.n</th></tr>


                        @for (int i = 0; i < crawData.o.x12.v.Count / 6; i++)
                        {
                            <tr>
                                <td><span>@crawData.i[0]</span><span class="odds">@crawData.o.x12.v[i * 6 + 1]</span></td>
                                <td><span>和局</span><span class="odds">@crawData.o.x12.v[i * 6 + 5]</span></td>
                                <td><span>@crawData.i[1]</span><span class="odds">@crawData.o.x12.v[i * 6 + 3]</span></td>
                            </tr>
                        }

                    </tbody>
                }
                if (crawData.o.x121st != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="@(crawData.o.x121st.v.Count/6*3)">@crawData.o.x121st.n</th></tr>


                        @for (int i = 0; i < crawData.o.x121st.v.Count / 6; i++)
                        {
                            <tr>
                                <td><span>@crawData.i[0]</span><span class="odds">@crawData.o.x121st.v[i * 6 + 1]</span></td>
                                <td><span>和局</span><span class="odds">@crawData.o.x121st.v[i * 6 + 5]</span></td>
                                <td><span>@crawData.i[1]</span><span class="odds">@crawData.o.x121st.v[i * 6 + 3]</span></td>
                            </tr>
                        }

                    </tbody>
                }

                if (crawData.o.oe != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="@(crawData.o.oe.v.Count/4*2)">@crawData.o.oe.n</th></tr>
                        @for (int i = 0; i < crawData.o.oe.v.Count / 4; i++)
                        {
                            <tr>
                                <td><span>單</span><span class="odds">@crawData.o.oe.v[i * 4 + 1]</span></td>
                                <td><span>雙</span><span class="odds">@crawData.o.oe.v[i * 4 + 3]</span></td>
                            </tr>
                        }

                    </tbody>
                }
                if (crawData.o.oe1st != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="@(crawData.o.oe1st.v.Count/4*2)">@crawData.o.oe1st.n</th></tr>
                        @for (int i = 0; i < crawData.o.oe.v.Count / 4; i++)
                        {
                            <tr>
                                <td><span>單</span><span class="odds">@crawData.o.oe1st.v[i * 4 + 1]</span></td>
                                <td><span>雙</span><span class="odds">@crawData.o.oe1st.v[i * 4 + 3]</span></td>
                            </tr>
                        }

                    </tbody>
                }

                if (crawData.o.tg != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="@(crawData.o.tg.v.Count/8*4)">@crawData.o.tg.n</th></tr>
                        @for (int i = 0; i < crawData.o.tg.v.Count / 8; i++)
                        {
                            <tr>
                                <td><span>0-1</span><span class="odds">@crawData.o.tg.v[i * 8 + 1]</span></td>
                                <td><span>2-3</span><span class="odds">@crawData.o.tg.v[i * 8 + 3]</span></td>
                                <td><span>4-6</span><span class="odds">@crawData.o.tg.v[i * 8 + 5]</span></td>
                                <td><span>7或以上</span><span class="odds">@crawData.o.tg.v[i * 8 + 7]</span></td>
                            </tr>
                        }

                    </tbody>
                }
                if (crawData.o.tg1st != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="@(crawData.o.tg1st.v.Count/8*4)">@crawData.o.tg1st.n</th></tr>
                        @for (int i = 0; i < crawData.o.tg1st.v.Count / 8; i++)
                        {
                            <tr>
                                <td><span>0</span><span class="odds">@crawData.o.tg1st.v[i * 8 + 1]</span></td>
                                <td><span>1</span><span class="odds">@crawData.o.tg1st.v[i * 8 + 3]</span></td>
                                <td><span>2</span><span class="odds">@crawData.o.tg1st.v[i * 8 + 5]</span></td>
                                <td><span>3或以上</span><span class="odds">@crawData.o.tg1st.v[i * 8 + 7]</span></td>
                            </tr>
                        }

                    </tbody>
                }

                if (crawData.o.cs != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="3">@crawData.o.cs.n</th></tr>
                        <tr style="background-color: lightgray"><td>@crawData.i[0]</td><td>和局</td><td>@crawData.i[1]</td></tr>
                        @{
                            var count = crawData.o.cs.v.Count / 2 - 1;
                            var sqrt = int.Parse(Math.Sqrt(count).ToString()) - 1;
                            var trCount = sqrt * (1 + sqrt) / 2;
                            var tempList = new List<string>();
                            for (int i = 1; i < sqrt + 1; i++)
                            {
                                for (int j = 0; j < i; j++)
                                {
                                    var op = $"{i}-{j}";
                                    var cp = $"{j}-{i}";
                                    tempList.Add(op);
                                    tempList.Add(cp);
                                }

                            }
                        }
                        @for (int i = 0; i < trCount; i++)
                        {
                            <tr>
                                <td><span>@tempList[i * 2]</span><span class="odds">@crawData.o.cs.v[i * 4 + 1]</span></td>
                                @if (i <= sqrt)
                                {
                                    <td><span>@i-@i</span><span class="odds">@crawData.o.cs.v[trCount * 2 * 2 + (i * 2 + 1)]</span></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td><span>@tempList[i * 2 + 1]</span><span class="odds">@crawData.o.cs.v[i * 4 + 3]</span></td>
                            </tr>
                        }
                        <tr style="background-color: lightblue"><th colspan="3">其他比分 :@crawData.o.cs.v[trCount * 2 * 2 + (sqrt * 2 + 3)]</th></tr>

                    </tbody>
                }
                if (crawData.o.cs1st != null)
                {
                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="3">@crawData.o.cs1st.n</th></tr>
                        <tr style="background-color: lightgray"><td>@crawData.i[0]</td><td>和局</td><td>@crawData.i[1]</td></tr>
                        @{
                            var count = crawData.o.cs1st.v.Count / 2 - 1;
                            var sqrt = int.Parse(Math.Sqrt(count).ToString()) - 1;
                            var trCount = sqrt * (1 + sqrt) / 2;
                            var tempList = new List<string>();
                            for (int i = 1; i < sqrt + 1; i++)
                            {
                                for (int j = 0; j < i; j++)
                                {
                                    var op = $"{i}-{j}";
                                    var cp = $"{j}-{i}";
                                    tempList.Add(op);
                                    tempList.Add(cp);
                                }

                            }
                        }
                        @for (int i = 0; i < trCount; i++)
                        {
                            <tr>
                                <td><span>@tempList[i * 2]</span><span class="odds">@crawData.o.cs1st.v[i * 4 + 1]</span></td>
                                @if (i <= sqrt)
                                {
                                    <td><span>@i-@i</span><span class="odds">@crawData.o.cs1st.v[trCount * 2 * 2 + (i * 2 + 1)]</span></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td><span>@tempList[i * 2 + 1]</span><span class="odds">@crawData.o.cs1st.v[i * 4 + 3]</span></td>
                            </tr>
                        }
                        <tr style="background-color: lightblue"><th colspan="3">其他比分 :@crawData.o.cs1st.v[trCount * 2 * 2 + (sqrt * 2 + 3)]</th></tr>

                    </tbody>
                }

                if (crawData.o.hf != null)
                {
                    var owner = crawData.i[0];
                    var custom = crawData.i[1];

                    <tbody>
                        <tr style="background-color: lightblue"><th colspan="3">@crawData.o.hf.n</th></tr>
                        @for (int i = 0; i < crawData.o.hf.v.Count / 18; i++)
                        {
                            <tr>
                                <td><span>@owner / @owner</span><span class="odds">@crawData.o.hf.v[i * 18 + 1]</span></td>
                                <td><span>和局 / @owner</span><span class="odds">@crawData.o.hf.v[i * 18 + 7]</span></td>
                                <td><span>@custom / @owner</span><span class="odds">@crawData.o.hf.v[i * 18 + 13]</span></td>
                            </tr>
                            <tr>
                                <td><span>@owner / 和局</span><span class="odds">@crawData.o.hf.v[i * 18 + 3]</span></td>
                                <td><span>和局 /和局</span><span class="odds">@crawData.o.hf.v[i * 18 + 9]</span></td>
                                <td><span>@custom / 和局</span><span class="odds">@crawData.o.hf.v[i * 18 + 15]</span></td>
                            </tr>
                            <tr>
                                <td><span>@owner / @custom</span><span class="odds">@crawData.o.hf.v[i * 18 + 5]</span></td>
                                <td><span>和局 / @custom</span><span class="odds">@crawData.o.hf.v[i * 18 + 11]</span></td>
                                <td><span>@custom / @custom</span><span class="odds">@crawData.o.hf.v[i * 18 + 17]</span></td>
                            </tr>
                        }

                    </tbody>
                }

                if (crawData.o.sco1st != null || crawData.o.scolast != null)
                {
                    <tr style="background-color: lightblue"><th colspan="2">進球球員</th></tr>
                    <tr style="background-color: lightgrey">
                        <td>@crawData.i[0]</td>
                        <td>@crawData.i[1]</td>
                    </tr>
                    <tr style="background-color: darkgray">
                        <td>
                            <table>
                                <tr>
                                    <td>球員</td>
                                    <td>首先</td>
                                    <td>最後</td>
                                    <td>任意時間</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>球員</td>
                                    <td>首先</td>
                                    <td>最後</td>
                                    <td>任意時間</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    var sco1stData = new List<ScoData>();
                    for (int i = 0; i < crawData.o.sco1st.v.Count / 2; i++)
                    {
                        var data = new ScoData();
                        var temp = crawData.o.sco1st.v[i * 2 + 1].Split("|");
                        data.Id = crawData.o.sco1st.v[i * 2];
                        data.Key = temp[0];
                        data.Name = temp[1];
                        data.Odds = temp[2];
                        data.Mark = temp[0].Substring(0, 1);
                        sco1stData.Add(data);
                    }
                    var scoLastData = new List<ScoData>();
                    for (int i = 0; i < crawData.o.scolast.v.Count / 2; i++)
                    {
                        var data = new ScoData();
                        var temp = crawData.o.scolast.v[i * 2 + 1].Split("|");
                        data.Id = crawData.o.scolast.v[i * 2];
                        data.Key = temp[0];
                        data.Name = temp[1];
                        data.Odds = temp[2];
                        data.Mark = temp[0].Substring(0, 1);
                        scoLastData.Add(data);
                    }
                    var scoAntData = new List<ScoData>();
                    for (int i = 0; i < crawData.o.scoant.v.Count / 2; i++)
                    {
                        var data = new ScoData();
                        var temp = crawData.o.scolast.v[i * 2 + 1].Split("|");
                        data.Id = crawData.o.scolast.v[i * 2];
                        data.Key = temp[0];
                        data.Odds = temp[1];
                        scoAntData.Add(data);
                    }

                    var sco1stList = sco1stData.OrderBy(r => r.Odds).Where(r => r.Key != "a2")
                        .GroupBy(r => r.Mark)
                        .OrderByDescending(r => r.Key)
                        .Select(r => new
                        {
                            data = r.Select(x => new
                            {
                                x.Name,
                                x.Id,
                                x.Odds,
                                x.Key

                            }).ToList(),

                        }).Select(r => new
                        {
                            data = r.data,
                            count = r.data.Count
                        }).ToList();
                    var scoLastList = scoLastData.OrderBy(r => r.Odds).Where(r => r.Key != "a2")
                        .GroupBy(r => r.Mark)
                        .OrderByDescending(r => r.Key)
                        .Select(r => new
                        {
                            data = r.Select(x => new
                            {
                                x.Name,
                                x.Id,
                                x.Odds,
                                x.Key
                            }).ToList(),

                        }).Select(r => new
                        {
                            data = r.data,
                            count = r.data.Count
                        }).ToList();

                    var longer = sco1stList.Max(r => r.count);
                    for (int i = 0; i < longer; i++)
                    {
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        @{
                                            if (sco1stList[0].data.Count > i)
                                            {
                                                <td>@sco1stList[0].data[i].Name</td>
                                                <td><span class="odds">@sco1stList[0].data[i].Odds.</span></td>
                                                <td><span class="odds">@scoLastList[0].data[i].Odds.</span></td>
                                                <td>@scoAntData.FirstOrDefault(r => r.Key == sco1stList[0].data[i].Key).Odds</td>
                                            }
                                            else
                                            {
                                                <td colspan="4"></td>
                                            }
                                        }

                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        @{
                                            if (sco1stList[1].data.Count > i)
                                            {
                                                <td>@sco1stList[1].data[i].Name</td>
                                                <td><span class="odds">@sco1stList[1].data[i].Odds.</span></td>
                                                <td><span class="odds">@scoLastList[1].data[i].Odds.</span></td>
                                                <td>@scoAntData.FirstOrDefault(r => r.Key == sco1stList[1].data[i].Key).Odds</td>
                                            }
                                            else
                                            {
                                                <td colspan="4"></td>
                                            }
                                        }

                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }

                }

                if (crawData.PoData != null)
                {
                    foreach (var poData in crawData.PoData)
                    {
                        if (poData.o != null)
                        {
                            <tbody>
                                @{
                                    if (poData.o.Any(r => r[0].Contains("&")))
                                    {

                                        var enumerable = poData.o.Select(r => new
                                        {
                                            a = r[0].Split("&"),
                                            b = r[2],
                                        })
                                            .Select(r => new
                                            {
                                                Name = r.a[0],
                                                Rule = r.a[1],
                                                Odds = r.b,
                                            }).GroupBy(r => r.Name).Select(r => new
                                            {
                                                Name = r.Key,
                                                RuleList = r.Select(x => new
                                                {
                                                    Rule = x.Rule,
                                                    Odds = x.Odds,
                                                }).ToList()

                                            }).ToList();
                                        <tr style="background-color: lightblue"><th colspan="@enumerable.Count">@poData.n</th></tr>

                                        <tr style="background-color: lightgrey">
                                            @{
                                                foreach (var data in enumerable)
                                                {
                                                    <td>@data.Name</td>
                                                }
                                            }
                                        </tr>
                                        <tr>
                                            @{
                                                foreach (var data in enumerable)
                                                {
                                                    <td>
                                                        @foreach (var ruleList in data.RuleList)
                                                        {
                                                            <div><span>@ruleList.Rule</span><span class="odds">@ruleList.Odds</span></div>
                                                        }
                                                    </td>
                                                }
                                            }
                                        </tr>

                                    }
                                    else
                                    {
                                        if (poData.o.Any(r => r[0].Contains("和局")))
                                        {
                                            //一行三個
                                            <tr style="background-color: lightblue"><th colspan="3">@poData.n</th></tr>
                                            <tr style="background-color: lightgrey">
                                                <td>@crawData.i[0]</td>
                                                <td>和局</td>
                                                <td>@crawData.i[1]</td>
                                            </tr>
                                            if (poData.o.Any(r => r.Count >= 4))
                                            {
                                                var list = poData.o.OrderBy(r => r[3]).ToList();
                                                //有刻意排順序
                                                for (int i = 0; i <= list.Count / 3; i++)
                                                {
                                                    <tr>
                                                        @{
                                                            var firstTd = poData.o.FirstOrDefault(r => int.Parse(r[3]) == i * 3);
                                                            var secondTd = poData.o.FirstOrDefault(r => int.Parse(r[3]) == i * 3 + 1);
                                                            var thirdTd = poData.o.FirstOrDefault(r => int.Parse(r[3]) == i * 3 + 2);
                                                            if (firstTd == null)
                                                            {
                                                                <td></td>
                                                            }
                                                            else
                                                            {
                                                                <td><span>@firstTd[0]</span><span class="odds">@firstTd[2]</span></td>
                                                            }
                                                            if (secondTd == null)
                                                            {
                                                                <td></td>
                                                            }
                                                            else
                                                            {
                                                                <td><span>@secondTd[0]</span><span class="odds">@secondTd[2]</span></td>
                                                            }
                                                            if (thirdTd == null)
                                                            {
                                                                <td></td>
                                                            }
                                                            else
                                                            {
                                                                <td><span>@thirdTd[0]</span><span class="odds">@thirdTd[2]</span></td>
                                                            }

                                                        }


                                                        }
                                                    </tr>
                                                }

                                            }
                                            else
                                            {
                                                //無刻意排順序
                                                for (int i = 0; i < poData.o.Count / 3; i++)
                                                {
                                                    <tr>
                                                        <td><span>@poData.o[i * 3][0]</span><span class="odds">@poData.o[i * 3][2]</span></td>
                                                        <td><span>@poData.o[i * 3 + 1][0]</span><span class="odds">@poData.o[i * 3 + 1][2]</span></td>
                                                        <td><span>@poData.o[i * 3 + 2][0]</span><span class="odds">@poData.o[i * 3 + 2][2]</span></td>
                                                    </tr>
                                                }

                                                if (poData.o.Count % 3 == 2)
                                                {
                                                    <tr>
                                                        <td><span>@poData.o[^2][0]</span><span class="odds">@poData.o[^2][2]</span></td>
                                                        <td><span>@poData.o[^1][0]</span><span class="odds">@poData.o[^1][2]</span></td>
                                                        <td></td>
                                                    </tr>
                                                }
                                                else if (poData.o.Count % 3 == 1)
                                                {
                                                    <tr>
                                                        <td><span>@poData.o[^1][0]</span><span class="odds">@poData.o[^1][2]</span></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                }

                                            }

                                        }
                                        else
                                        {
                                            //一行兩個
                                            <tr style="background-color: lightblue"><th colspan="2" class="oneLineTwoTd">@poData.n</th></tr>

                                            for (int i = 0; i < poData.o.Count / 2; i++)
                                            {
                                                <tr>
                                                    <td><span>@poData.o[i * 2][0]</span><span class="odds">@poData.o[i * 2][2]</span></td>
                                                    <td><span>@poData.o[i * 2 + 1][0]</span><span class="odds">@poData.o[i * 2 + 1][2]</span></td>
                                                </tr>
                                            }
                                            if (poData.o.Count % 2 > 0)
                                            {
                                                <tr><td colspan="2"><span>@poData.o[^1][0]</span><span class="odds">@poData.o[^1][2]</span></td></tr>
                                            }

                                            @*if (poData.f!=null && poData.f.Contains("s"))
                                                {



                                                }
                                                else
                                                {
                                                    //一行一個
                                                    <tr style="background-color: lightblue"><th colspan="1">@poData.n</th></tr>
                                                    foreach (var oData in poData.o)
                                                    {
                                                        <tr>
                                                            <td><span>@oData[0]</span><span class="odds">@oData[2]</span></td>
                                                        </tr>
                                                    }
                                                }*@

                                        }



                                    }



                                }

                            </tbody>

                        }
                    }
                }

            }
        }
    </table>
</div>

