﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>壓力測試</h1>


<form class="form-horizontal" method="post" asp-controller="Home" asp-action="PressTest" id="form1" autocomplete="true" target="iframe">
    <button type="submit">產壓測資料</button>
</form>

<form class="form-horizontal" method="post" asp-controller="Home" asp-action="PressTestMerchantOrder" id="form1" autocomplete="true" target="iframe">
    <button type="submit">產壓測資料MerchantOrder</button>
</form>

<form class="form-horizontal" method="post" asp-controller="Home" asp-action="TEST" id="form1" autocomplete="true" target="iframe">
    <button type="submit">測試語法</button>
</form>
<form class="form-horizontal" method="post" asp-controller="Bug" asp-action="AmOddView" id="MyForm" autocomplete="true" target="iframe">
    <button data-toggle="modal" data-target="#CreateDialog" type="submit">測試彈窗</button>
</form>

<form class="form-horizontal" method="post" asp-controller="Bug" asp-action="Login" id="form1" autocomplete="true" target="iframe">
    <button type="submit">登入寫資料</button>
</form>
<form class="form-horizontal" method="post" asp-controller="Bug" asp-action="GetAmOdd" id="form1" autocomplete="true" target="iframe">
    <button type="submit">測試AmOdds</button>
</form>
<form class="form-horizontal" method="post" asp-controller="Browser" asp-action="InitBrowser" id="form1" autocomplete="true" target="iframe">
    <button type="submit">Browser</button>
</form>
<form class="form-horizontal" method="post" asp-controller="Bug" asp-action="TestHeader" id="form1" autocomplete="true" target="iframe">
    <button type="submit">TimerTestHeader</button>
</form>
<div class="modal fade" id="CreateDialog">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">CDN Plan</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-body">
                                            <div class="form-horizontal">
                                                <div id="dialog-content">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{
    <script>
        $(function() {
            $('#MyForm').submit(function() {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function(xhr) {
                        $('#dialog-content').html(xhr);
                    }
                });
                return false;
            });
        });

        $(document).ready(function() {
            setInterval(TestConnect, 3000);
        });

        function TestConnect() {
            $.ajax({
                url: "/Home/TestConnect",
                type: "POST",
                success: function(xhr) {
                    console.log(xhr);
                }
            });
        }


    </script>
}
