﻿
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
@model CreatePaymentOrderDto
<body>
    <div>
        <form class="form-horizontal" method="post" asp-controller="Order" asp-action="SubmitPaymentOrder" id="form1" autocomplete="true" target="iframe">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">建立充值訂單</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">使用說明</label>
                                <div class="col-sm-5">
                                    <textarea rows="5" class="form-control" readonly>
1. 將本地WebApi 專案 applicationUrl 設定本機IP
Ex:"http://192.168.50.121:64852"
2. ApiIpAddressLimitFilterAttribute 需略過IP驗證                                
</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="LocalIp" class="col-sm-3 control-label">WepApiUrl(使用本地IP且確保WebApi Proj正在運行)</label>
                                <div class="col-sm-5">
                                    <input asp-for="LocalIp" class="form-control" placeholder="LocalIp" value="" />
                                    <span asp-validation-for="LocalIp" class="text-danger field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MerchantPushDataId" class="col-sm-3 control-label">商戶推送ID</label>
                                <div class="col-sm-5">
                                    <input asp-for="MerchantPushDataId" class="form-control" placeholder="MerchantPushDataId" value="" />
                                    <span asp-validation-for="MerchantPushDataId" class="text-danger field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MerchantId" class="col-sm-3 control-label">商户ID</label>
                                <div class="col-sm-5">
                                    <input asp-for="MerchantId" class="form-control" placeholder="MerchantId" value="" />
                                    <span asp-validation-for="MerchantId" class="text-danger field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MerchantPayInfoId" class="col-sm-3 control-label">商户通道ID</label>
                                <div class="col-sm-5">
                                    <input asp-for="MerchantPayInfoId" class="form-control" placeholder="MerchantPayInfoId" value="" />
                                    <span asp-validation-for="MerchantPayInfoId" class="text-danger field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="OrderNo" class="col-sm-3 control-label">訂單編號</label>
                                <div class="col-sm-5">
                                    <input asp-for="OrderNo" class="form-control" placeholder="OrderNo" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="LoginName" class="col-sm-3 control-label">平台登入帳號</label>
                                <div class="col-sm-5">
                                    <input asp-for="LoginName" class="form-control" placeholder="LoginName" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Amount" class="col-sm-3 control-label">訂單金額</label>
                                <div class="col-sm-5">
                                    <input asp-for="Amount" class="form-control" placeholder="Amount" value="" />
                                    <span asp-validation-for="Amount" class="text-danger field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="PayName" class="col-sm-3 control-label">付款人</label>
                                <div class="col-sm-5">
                                    <input asp-for="PayName" class="form-control" placeholder="PayName" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Sign" class="col-sm-3 control-label">商戶密鑰</label>
                                <div class="col-sm-5">
                                    <input asp-for="Sign" class="form-control" placeholder="Sign" value="" />
                                    <span asp-validation-for="Sign" class="text-danger field-validation-valid"></span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button id="createOrder" type="button" class="btn btn-success">提交</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">API回應</label>
                            <div class="col-sm-10">
                                <textarea rows="10" id="apiResponse" class="form-control" value=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <iframe id="iframe" name="iframe" style="display:none;"></iframe>
    </div>
</body>
</html>
@section Scripts
{
    <script>
        $('#createOrder').click(function () {
            var $form = $("#form1");
            var valid = $form.valid();
            if (valid) {
                $.ajax({
                    type: "POST",
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    success: function(response) {
                        $("#apiResponse").val(response);

                    }
                });
            }
           
        })

    </script>
}
