﻿
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
@model CreateDisbursementOrderDto
<body>
<div>
    <form class="form-horizontal" method="post" asp-controller="Order" asp-action="SubmitDisbursementOrder" id="form1" autocomplete="true" target="iframe">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">建立出款訂單</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">使用說明</label>
                            <div class="col-sm-5">
                                <textarea rows="5" class="form-control" readonly>
1. 將本地WebApi 專案 applicationUrl 設定本機IP
Ex:"http://192.168.50.121:64852"
2. ApiIpAddressLimitFilterAttribute 需略過IP驗證                                
</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LocalIp" class="col-sm-3 control-label">WepApiUrl(使用本地IP且確保WebApi Proj正在運行)</label>
                            <div class="col-sm-5">
                                <input asp-for="LocalIp" class="form-control" placeholder="http://192.168.50.121:64852" value=""/>
                                <span asp-validation-for="LocalIp" class="text-danger field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="MerchantId" class="col-sm-3 control-label">商戶Id</label>
                            <div class="col-sm-5">
                                <input asp-for="MerchantId" class="form-control" placeholder="MerchantId" value="" />
                                <span asp-validation-for="MerchantId" class="text-danger field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="MerchantPushDataId" class="col-sm-3 control-label">商户推送 ID</label>
                            <div class="col-sm-5">
                                <input asp-for="MerchantPushDataId" class="form-control" placeholder="MerchantPushDataId" value="" />
                                <span asp-validation-for="MerchantPushDataId" class="text-danger field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="OrderNo" class="col-sm-3 control-label">訂單編號</label>
                            <div class="col-sm-5">
                                <input asp-for="OrderNo" class="form-control" placeholder="OrderNo" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="BankTypeCode" class="col-sm-3 control-label">銀行編碼</label>
                            <div class="col-sm-5">
                                <input asp-for="BankTypeCode" class="form-control" placeholder="BankTypeCode" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LoginName" class="col-sm-3 control-label">登入帳號</label>
                            <div class="col-sm-5">
                                <input asp-for="LoginName" class="form-control" placeholder="LoginName" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AccountName" class="col-sm-3 control-label">開戶人姓名</label>
                            <div class="col-sm-5">
                                <input asp-for="AccountName" class="form-control" placeholder="AccountName" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AccountNo" class="col-sm-3 control-label">收款卡号(15位/20位)</label>
                            <div class="col-sm-5">
                                <input asp-for="AccountNo" class="form-control" placeholder="AccountNo" value="" />
                                <span asp-validation-for="AccountNo" class="text-danger field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AccountOpenAddress" class="col-sm-3 control-label">开户行地址</label>
                            <div class="col-sm-5">
                                <input asp-for="AccountOpenAddress" class="form-control" placeholder="AccountOpenAddress" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Province" class="col-sm-3 control-label">省</label>
                            <div class="col-sm-5">
                                <input asp-for="Province" class="form-control" placeholder="Province" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FeeAmount" class="col-sm-3 control-label">手续费金额</label>
                            <div class="col-sm-5">
                                <input asp-for="FeeAmount" class="form-control" placeholder="FeeAmount" value="" />
                                <span asp-validation-for="FeeAmount" class="text-danger field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Amount" class="col-sm-3 control-label">订单金额</label>
                            <div class="col-sm-5">
                                <input asp-for="Amount" class="form-control" placeholder="Amount" value="" />
                                <span asp-validation-for="Amount" class="text-danger field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Sign" class="col-sm-3 control-label">商戶密鑰</label>
                            <div class="col-sm-5">
                                <input asp-for="Sign" class="form-control" placeholder="Sign" value="" />
                                <span asp-validation-for="Sign" class="text-danger field-validation-valid"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button id="createOrder" type="button" class="btn btn-success">提交</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">API回應</label>
                        <div class="col-sm-10">
                            <textarea rows="10" id="apiResponse"class="form-control" value=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <iframe id="iframe" name="iframe" style="display:none;"></iframe>
</div>
</body>
</html>
@section Scripts
{
    <script>
        $('#createOrder').click(function () {
            
            var $form = $("#form1");
            // 先驗證表單 在送出
            var valid = $form.valid();
            if (valid) {
                $.ajax({
                    type: "POST",
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    success: function(response) {
                        $('#apiResponse').val(response);

                    }
                }); 
            }
           
        });

    </script>
}
