﻿@model SearchOtherPayRequest

<style>
    .table td, .table th {
        padding: 3px!important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
</style>
<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form class="form-horizontal" method="post" asp-controller="Order" asp-action="SearchOtherPayInfo" id="form1" autocomplete="true" target="iframe">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">搜尋支付類型</h3>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label for="DisbursementOrderId" class="col-sm-3 control-label">支付(0)/代付(1)</label>
                            <div class="col-sm-5">
                                <input asp-for="Status" class="form-control" placeholder="status" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="MerchantId" class="col-sm-3 control-label">支付名稱</label>
                            <div class="col-sm-5">
                                <input asp-for="Name" class="form-control" placeholder="name" value="" />
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button id="createOrder" type="button" class="btn btn-success">提交</button>
                            <button id="test" type="button" class="btn btn-success">test</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table" id="payInfoSearchTable">
             
            </table>
        </div>
    </form>
    <iframe id="iframe" name="iframe" style="display: none;"></iframe>
</div>

</body>
</html>
@section Scripts
{

    <script>
        $('#createOrder').click(function() {
            var $form = $("#form1");
            $.ajax({
                type: "POST",
                url: $form.attr('action'),
                data: $form.serialize(),
                success: function(response) {
                    var table = document.getElementById("payInfoSearchTable");
                    if (response.isSuccess == true) {

                        while (table.hasChildNodes()) {
                            table.removeChild(table.firstChild);
                        }
                        var rowCount = 0;
                        var row = table.insertRow(rowCount);
                        row.style.color = "red";
                        row.insertCell(0).innerHTML = "Id";
                        row.insertCell(1).innerHTML = "名稱";
                        row.insertCell(2).innerHTML = "編碼";
                        row.insertCell(3).innerHTML = "支付類型";
                        row.insertCell(4).innerHTML = "操作";

                        response.returnObject.otherPayInfoList.forEach(function(item) {
                            rowCount += 1;
                            var row = table.insertRow(rowCount);
                            row.insertCell(0).innerHTML = item.id;
                            row.insertCell(1).innerHTML = item.name;
                            row.insertCell(2).innerHTML = item.code;
                            row.insertCell(3).innerHTML = item.payType;
                            var innertable = "";
                            item.otherPayImpList.forEach(function(impData) {
                                innertable += "<tr><td>" + impData.id + "</td><td>" + impData.name + "</td><td>" + impData.description + "</td><td><button onclick=exportImpSql('" + item.id + "','" + item.payType + "','" + impData.id + "')>通道SQL</button></td></tr>";
                            });
                            row.insertCell(4).innerHTML = "<table><tr><td>通道ID</td><td>通道名稱</td><td>通道說明</td><td>操作</td></td>" + innertable + "</table>";
                        });

                        rowCount += 1;
                        var helperRow = table.insertRow(rowCount);
                        helperRow.style.color = "red";
                        helperRow.insertCell(0).innerHTML = "通用類別ID";
                        helperRow.insertCell(1).innerHTML = "名稱";
                        helperRow.insertCell(2).innerHTML = "說明";
                        helperRow.insertCell(3).innerHTML = "Namespace";
                        helperRow.insertCell(4).innerHTML = "Class名稱";
                        helperRow.insertCell(5).innerHTML = "操作";

                        response.returnObject.otherPayHelpImpList.forEach(function(item) {
                            rowCount += 1;
                            var row = table.insertRow(rowCount);
                            row.insertCell(0).innerHTML = item.id;
                            row.insertCell(1).innerHTML = item.name;
                            row.insertCell(2).innerHTML = item.description;
                            row.insertCell(3).innerHTML = item.namespace;
                            row.insertCell(4).innerHTML = item.impClass;
                            row.insertCell(5).innerHTML = "<button onclick=exportHelpImpSql('" + item.id + "')>通用類別SQL</button>";

                        });

                    } else {
                        alert("查詢發生錯誤");
                    }


                }
            });
        });

        function exportHelpImpSql(impHelpId) {
            window.location = "/Order/CreateHelpImpSQL?impHelpId="+impHelpId;
            //var ss = impHelpId;
            //$.ajax({
            //    type: "POST",
            //    url: "/Order/CreateHelpImpSQL",
            //    data: { impHelpId: impHelpId },
            //    success: function (response) {
                 

            //    }
            //});
        }

      
        function exportImpSql(infoId, payType, impId) {
            window.location = "/Order/CreateImpSQL?infoId=" + infoId + "&payType=" + payType + "&impId=" + impId;
            //$.ajax({
            //    type: "POST",
            //    url: "/Order/CreateImpSQL",
            //    data: { infoId: infoId, payType: payType, impId: impId },
            //    success: function(response) {
                   
            //    }
            //});
        }
    </script>
}
