﻿@model SearchOtherPayRequest
<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <form class="form-horizontal" method="post" asp-controller="Order" asp-action="SearchOtherPayHelpImp" id="form1" autocomplete="true" target="iframe">

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">搜尋通用</h3>
                        </div>
                        <div class="box-body">

                            <div class="form-group">
                                <label for="DisbursementOrderId" class="col-sm-3 control-label">支付(0)/代付(1)</label>
                                <div class="col-sm-5">
                                    <input asp-for="Status" class="form-control" placeholder="status" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MerchantId" class="col-sm-3 control-label">支付名稱</label>
                                <div class="col-sm-5">
                                    <input asp-for="Name" class="form-control" placeholder="name" value="" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button id="createOrder" type="button" class="btn btn-success">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table" id="payInfoSearchTable">
                </table>
            </div>
        </form>
        <iframe id="iframe" name="iframe" style="display: none;"></iframe>
    </div>
</body>
</html>
@section Scripts
{

    <script>
        $('#createOrder').click(function() {
            var $form = $("#form1");
            $.ajax({
                type: "POST",
                url: $form.attr('action'),
                data: $form.serialize(),
                success: function(response) {
                    var table = document.getElementById("payInfoSearchTable");
                    if (response.isSuccess == true) {

                        while (table.hasChildNodes()) {
                            table.removeChild(table.firstChild);
                        }
                        var firstRow = 0;
                        var row = table.insertRow(firstRow);
                        row.insertCell(0).innerHTML = "Id";
                        row.insertCell(1).innerHTML = "名稱";
                        row.insertCell(2).innerHTML = "編碼";
                        row.insertCell(3).innerHTML = "支付類型";
                        row.insertCell(4).innerHTML = "操作";
                        row.insertCell(5).innerHTML = "通道";

                        response.returnObject.forEach(function(item) {
                            firstRow += 1;
                            var row = table.insertRow(firstRow);
                            row.insertCell(0).innerHTML = item.id;
                            row.insertCell(1).innerHTML = item.name;
                            row.insertCell(2).innerHTML = item.code;
                            row.insertCell(3).innerHTML = item.payType;
                            row.insertCell(4).innerHTML = "<button>匯出Sql</button>";
                            var innertable = "";
                            item.otherPayImpList.forEach(function(impData) {
                                innertable += "<tr><td>" + impData.id + "</td><td>" + impData.name + "</td><td>" + impData.description + "</td><td><button onclick=exportImpSql('"+item.id+"','" + item.payType + "','" + impData.id + "')>通道SQL</button></td></tr>";
                            });
                            row.insertCell(5).innerHTML = "<table><tr><td>通道ID</td><td>通道名稱</td><td>通道說明</td><td>操作</td></td>" + innertable + "</table>";

                        });
                    } else {
                        alert("查詢發生錯誤");
                    }


                }
            });
        });

        function exportImpSql(infoId, payType, impId) {
            $.ajax({
                type: "POST",
                url: "/Order/CreateImpSQL",
                data: { infoId: infoId, payType: payType, impId: impId },
                success: function(response) {
                    if (response.isSuccess) {
                        alert("匯出成功");
                    } else {
                        alert(response.errorMessage);
                    }
                }
            });
        }
    </script>
}
